
/* générique */
small {font-size: smaller}

/*	légende portfolio */
.item header {padding: 1em}
.item header > h3 > strong {font-weight: 400}

/*	image hauteur */
.image img {height: auto}

/* modele emb */
.item .spip_documents > .oembed {padding: 0}
.spip_doc_titre {line-height: 1.5em}

/*	logo marge */
#logo h1, #logo p {margin-left: 48px}



/* spip_document_audio / crédits */
.spip_doc_credits {line-height: 1.1em; font-size: smaller}
.spip_document_audio {margin-bottom: 2em}


/* BLOCKS */

/* vertical horizontal */
.pv-0 {padding-top: 0!important; padding-bottom:0!important}
.pv-05 {padding-top: 0.5em!important; padding-bottom:0.5em!important}
.mv-0 {margin-top: 0!important; margin-bottom: 0!important}
.mv-1 {margin-top: 1em!important; margin-bottom: 1em!important}
.ph-1 {padding-left: 1em!important; padding-right:1em!important}
.pv-1 {padding-top: 1em!important; padding-bottom:1em!important}

.mb-0 {margin-bottom: 0}
.mt-05 {margin-top: 0.5em}
.mt-1 {margin-top: 1em}

.small {
    font-size: 0.85em
}

/* footer */
footer {text-align: center;}

/* citation et poésie */
blockquote {
    text-align: left;
    padding: 0 0 0 30%;
    border-left: 0;
    margin-bottom: 2em;
}

blockquote.spip_poesie {font-size: smaller;line-height: 1.5em;}

/* émuler le comportement d'un paragraphe, cf main.css */
.p {margin-bottom: 2em}

/* formulaire */
fieldset.previsu {padding: 2em; background:#ffffff96; margin: 0 0 2em 0; position: relative;}
fieldset.previsu legend {
    background: #fff;
    padding: 0 2em; position: absolute; right: 0; top: 0;
    box-shadow: 0.1em 0.1em 0.4em #00000012;
}
fieldset.previsu .boutons {margin-bottom: 0; margin-top: 2em;}

.reponse_formulaire b {color: rgb(226, 118, 137);}

/* texte */
.texte ul {list-style-position:inside}
.chapo {font-weight: bolder;}


/* sidebar */
.sidebar li,
.sidebar ul,
.no-list {list-style: none; padding-left: 0}

.sidebar li {margin-bottom: 2em}
.sidebar .image.featured {margin-bottom: 0;}

.sidebar p {line-height: 1.5em; font-size: smaller}
.sidebar h4 {font-weight: bolder}
.sidebar .autobr,
.hide {display: none}


/*		page type : 	*/

 #main > section {text-align: left;}
header h2 {text-align: center;}
/*	- - - - - - - >  article */
.page_sommaire #main > section {text-align: center;}
.page_sommaire #main > section.fond {background-size: cover;}
.page_sommaire body .fond,
.page_sommaire .fond h2 {color: #ccc;}

input[type="button"], input[type="submit"], input[type="reset"], button, .button {background-color: #5dc6c1}
input[type="button"].small, input[type="submit"].small, input[type="reset"].small, button.small, .button.small {padding: 0.25em 0.5em}


/*	- - - - - - - >  fontawesome */
.icon > code {font-family: monospace; font-size: 0.75em}
