<div class="row">
<BOUCLE_portfolio(DOCUMENTS){id_article}{media IN video,image}{0,#ENV{limit,999}}>
	[(#COMPTEUR_BOUCLE|alterner{<div class="col-4 col-12-mobile">,''})]
		<article class="item">
		[(#MEDIA|=={video}|oui) [(#MODELE{emb}|replace{figcaption,header})]]
		[(#MEDIA|=={image}|oui) 
			<a href="#URL_DOCUMENT" class="image fit">[(#URL_DOCUMENT|image_reduire{420,0})]</a>
			[<header>
			<h3><strong>(#TITRE).</strong>[(#ENV{limit}|?{[ (#DESCRIPTIF|ptobr|couper{50})],[ (#DESCRIPTIF|ptobr)]})]</h3>
			</header>]
		]
		</article>
	[(#COMPTEUR_BOUCLE|alterner{'',</div>})]
</BOUCLE_portfolio>
</div>