<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>Contact</h2>
        </header>

        <div class="row">
            <BOUCLE_gis(AUTEURS){gis}{id_auteur = #CONFIG{html5up_prologue/contact}|sinon{2}}{tout}>
            <div class="col-6 col-12-mobile">
                <ul class="no-list">
                    <li><h4>#TITRE_GIS</h4></li>
                    [<li>(#DESCRIPTIF|ptobr)</li>]
                    [<li>(#ADRESSE)</li>]
                    [<li>[(#CODE_POSTAL) - ](#VILLE)</li>]
                </ul>
            </div>
            </BOUCLE_gis>

        </div>

        [<div class="p">
            (#INCLURE{fond=modeles/carte_gis, objets=auteurs, id_auteur= #CONFIG{html5up_prologue/contact}|sinon{2}, centrer_auto=oui, zoom_molette=non})
        </div>]


        [(#SI_PAGE{article}|?{#FORMULAIRE_ECRIRE_AUTEUR,#INCLURE{fond=inclure/contact-dist}})]


    </div>
</section>
