<BOUCLE_chercher_auteur(AUTEURS){id_auteur = #CONFIG{html5up_prologue/contact}|sinon{2}}{tout}>
#FORMULAIRE_ECRIRE_AUTEUR
</BOUCLE_chercher_auteur>
<p>Erreur, aucun auteur contact de trouvé.</p>
<p>Vous pouvez configurer ce jeu de squelettes <a href="#URL_ECRIRE{html5up_prologue}">en définissant un auteur à contacter</a></p>
<//B_chercher_auteur>
