<BOUCLE_menu(MENUS){id_menu?}{identifiant?}>
    <B_entrees>
    <nav id="nav">
    <ul class="menu-liste menu-items[ (#ENV{class})][(#VAL{_MENUS_EXTRA_CLASS}|defined|oui)[(#VAL{_MENUS_EXTRA_CLASS}|constant)]][ (#CHAMP_SQL{css})]">
        <BOUCLE_entrees(MENUS_ENTREES){id_menu}{par rang}>

            #SET{expose,non}

            [(#SET{menu,#PARAMETRES|unserialize})]

            [(#GET{menu/type_objet}|=={article}|oui)
                #SET{url,#URL_ARTICLE{#GET{menu/id_objet}}}
                [(#GET{menu/id_objet}|=={#ID_ARTICLE}|oui)
                    #SET{expose,oui}
                ]
            ]

            [(#GET{menu/type_objet}|=={rubrique}|oui)
                #SET{url,#URL_RUBRIQUE{#GET{menu/id_objet}}}
                [(#GET{menu/id_objet}|=={#ID_RUBRIQUE}|oui)
                    #SET{expose,oui}
                ]
            ]

            <li>
                <a[ class="(#GET{expose}|=={oui}|oui)active"][ (#SI_PAGE{sommaire}|?{
                    [href="#(#GET{url})" id="#GET{url}-link"]
                    ,
                    [href="(#GET{url})"]
                })]>
                    <span class="icon [fa-(#GET{menu/css}|sinon{circle-thin})]">
                        [(#GET{menu/titre}
                            |sinon{#INFO_TITRE{#GET{menu/type_objet},#GET{menu/id_objet}}|couper{20,'...'}}
                        )]
                    </span>
                </a>
            </li>

        </BOUCLE_entrees>
        <li>
            <a id="contact-link" href="#contact"> <span class="icon fa-envelope">Contact</span></a>
        </li>
    </ul>
    </nav>
    </B_entrees>
</BOUCLE_menu>
