<B_articles>
<ul>
<BOUCLE_articles(ARTICLES){id_article IN #ENV{ids}}{par num titre}>

    <li>
        <h4><a href="#URL_ARTICLE">#TITRE</a></h4>
        <BOUCLE_illustration(DOCUMENTS){id_article}{media=image}{0,1}>
            [<a class="image featured" href="#URL_ARTICLE">(#FICHIER|image_reduire{500,0}|image_recadre{400,150}|inserer_attribut{alt,#TITRE})</a>]
        </BOUCLE_illustration>
        [(#LOGO_ARTICLE_RUBRIQUE|?{#SET{fichier,#LOGO_ARTICLE_RUBRIQUE},#SET{fichier,#INCLURE{fond=inclure/document-article-parent,id_rubrique}}})]        
            [<a class="image featured" href="#URL_ARTICLE">(#GET{fichier}|image_reduire{500,0}|image_recadre{400,150}|inserer_attribut{alt,#TITRE})</a>]
        <//B_illustration>
        [<p class="intro"><a href="#URL_ARTICLE">(#INTRODUCTION{175}|ptobr)</a></p>]
    </li>

</BOUCLE_articles>
</ul>
</B_articles>
