<BOUCLE_principale(ARTICLES){id_article}>
<section class="three">
	<div class="container">

		<header>
			<h2>#TITRE</h2>
		</header>

		[(#REM) La première image de la liste sert pour illustrer l'article en header]
		<BOUCLE_grandeimage(DOCUMENTS){media=image}{id_article}{par num titre}{0,1}>
		[<a href="#URL_DOCUMENT" class="image featured">(#URL_DOCUMENT|image_reduire{1000,0}|image_recadre{1000,422}|inserer_attribut{alt,#TITRE})</a>]
		</BOUCLE_grandeimage>
		[<div class="image featured">(#LOGO_RUBRIQUE|image_reduire{1000,0}|image_recadre{1000,422})</div>]
		<//B_grandeimage>

		<div class="row">

			<section id="article" class="article col-12 col-12-mobile">

				[<div class="chapo">(#CHAPO)</div>]
				#TEXTE
				#INCLURE{fond=inclure/document_attache,id_article}


			</section>


		</div>
		<!-- row -->
	</div>
	<!-- container -->

</section>
</BOUCLE_principale>
