[(#REM)
	Prévoir doublons photos / sidebar
	Photos : ajouter crédits
	theme : three
]

<BOUCLE_principale(ARTICLES){id_article}>
<section class="three">
	<div class="container">

		<header>
			<h2>#TITRE</h2>
		</header>

		[(#REM) La première image de la liste sert pour illustrer l'article en header]
		<BOUCLE_grandeimage(DOCUMENTS){media=image}{id_article}{par num titre}{0,1}>
		[<a href="#URL_DOCUMENT" class="image featured">(#URL_DOCUMENT|image_reduire{1000,0}|image_recadre{1000,422}|inserer_attribut{alt,#TITRE})</a>]
		</BOUCLE_grandeimage>
		[<div class="image featured">(#LOGO_RUBRIQUE|image_reduire{1000,0}|image_recadre{1000,422})</div>]
		<//B_grandeimage>

		<div class="row">

			#SET{ids,#ARRAY}
			<BOUCLE_document_oui(DOCUMENTS){id_article}{1,n}>
				[(#SET{ids,#GET{ids}|push{#ID_DOCUMENT}})]
			</BOUCLE_document_oui>
				<section id="article" class="article col-8 col-12-mobile">
			</B_document_oui>
				<section id="article" class="article">
			<//B_document_oui>

					[<div class="chapo">(#CHAPO)</div>]
					#TEXTE

					#INCLURE{fond=inclure/document_attache,id_article}


				</section>

				[(#GET{ids}|count|>{0}|oui)
				<section id="document" class="sidebar col-4 col-12-mobile">
					<div class="container">
						#INCLURE{fond=inclure/article-sidebar-media,ids=#GET{ids}}
					</div>
				</section>
				]

		</div>
		<!-- row -->
	</div>
	<!-- container -->

</section>
</BOUCLE_principale>
