<BOUCLE_article_portfolio(ARTICLES){id_article}>

<!-- Portfolio -->
<section id="portfolio" class="<!-- two -->">
	<div class="container">

		<header>
			<h2>#TITRE</h2>
		</header>
		
		[<div class="chapo">(#CHAPO)</div>]
		#TEXTE

		<INCLURE{fond=inclure/article-portfolio,env} />

	</div>
</section>

</BOUCLE_article_portfolio>