[(#REM)
	Sidebar : les autres articles
	Photos : ajouter crédits
	theme : three
]


<BOUCLE_principale(RUBRIQUES){id_rubrique}>
<section class="three">
	<div class="container">
		<header>
			<h2>#TITRE</h2>
		</header>

		[(#REM) La première image de la liste sert pour illustrer l'article en header]
		<BOUCLE_grandeimage(DOCUMENTS){media=image}{id_rubrique}{par num titre}{0,1}>
			[<a href="#URL_DOCUMENT" class="image featured">(#URL_DOCUMENT|image_reduire{1000,0}|image_recadre{1000,422}|inserer_attribut{alt,#TITRE})</a>]
		</BOUCLE_grandeimage>
		[<div class="image featured">(#LOGO_RUBRIQUE|image_reduire{1000,0}|image_recadre{1000,422}|inserer_attribut{alt,#TITRE})</div>]
		<//B_grandeimage>

		<div class="row">
			#SET{ids,#ARRAY}
			<BOUCLE_articles_oui(ARTICLES){id_rubrique}>
				[(#SET{ids,#GET{ids}|push{#ID_ARTICLE}})]
			</BOUCLE_articles_oui>
				<section id="article" class="article col-8 col-12-mobile">
			</B_articles_oui>
				<section id="article" class="article">
			<//B_articles_oui>

					[<div class="chapo #EDIT{chapo}">(#CHAPO)<div>]
					[<div class="texte #EDIT{texte}">(#TEXTE)<div>]
						#INCLURE{fond=inclure/document_attache,id_rubrique}
						#INCLURE{fond=inclure/rubrique-sidebar-media,ids=#ID_RUBRIQUE}

				</section>

				[(#GET{ids}|count|>{0}|oui)
				<section id="article-autres" class="sidebar col-4 col-12-mobile">
					<div class="container">
						#INCLURE{fond=inclure/rubrique-sidebar-articles,ids=#GET{ids}}
					</div>
				</section>
				]
		</div>
		<!-- row -->
	</div>
</section>
</BOUCLE_principale>
