<!-- Main -->
<div id="main">

	<!-- Intro -->
	<BOUCLE_menu_sommaire(MENUS){identifiant=#CONFIG{html5up/menus,CK}}>
	        <BOUCLE_entrees_sommaire(MENUS_ENTREES){id_menu}{par rang}>

	            [(#SET{menu,#PARAMETRES|unserialize})]
				#SET{fichier,''}

	            [(#GET{menu/type_objet}|=={article}|oui)
	                #SET{url,#URL_ARTICLE{#GET{menu/id_objet}}}
					#SET{inclusion,id_article=#GET{menu/id_objet}} ]

	            [(#GET{menu/type_objet}|=={rubrique}|oui)
	                #SET{url,#URL_RUBRIQUE{#GET{menu/id_objet}}}
					#SET{inclusion,id_rubrique=#GET{menu/id_objet}} ]

				<BOUCLE_si_article(DOCUMENTS){si #GET{menu/type_objet}|=={article}}{id_article = #GET{menu/id_objet}}{media = image}{0,1}>
				#SET{fichier,#FICHIER|image_reduire{500}|image_gamma{-75}|image_flou{10}|extraire_attribut{src}}
				</BOUCLE_si_article>
					<BOUCLE_logo_article(ARTICLES){si #GET{fichier}|non}{id_article = #GET{menu/id_objet}}>
						#SET{fichier,#LOGO_ARTICLE|image_reduire{500}|image_gamma{-75}|image_flou{10}|extraire_attribut{src}}
					</BOUCLE_logo_article>
				<//B_si_article>

				<BOUCLE_si_rubrique(DOCUMENTS){si #GET{menu/type_objet}|=={rubrique}}{id_rubrique = #GET{menu/id_objet}}{media = image}{0,1}>
				#SET{fichier,#FICHIER|image_reduire{500}|image_gamma{-75}|image_flou{10}|extraire_attribut{src}}
				</BOUCLE_si_rubrique>
				<BOUCLE_logo_rubrique(RUBRIQUES){si #GET{fichier}|non}{id_rubrique = #GET{menu/id_objet}}>
					#SET{fichier,#LOGO_RUBRIQUE|image_reduire{500}|image_gamma{-75}|image_flou{10}|extraire_attribut{src}}
				</BOUCLE_logo_rubrique>
				<//B_si_rubrique>



				<section id="#GET{url}"
					[(#COMPTEUR_BOUCLE|=={1}|?{
						class="one dark cover[ fond(#GET{fichier}|oui)]"[ style="background-image:url('(#GET{fichier})');"]
						,
						[class="(#COMPTEUR_BOUCLE|moins{1}|alterner{'two','three','four'})[ fond(#GET{fichier}|oui)]"]
						[ style="background-image:url('(#GET{fichier})');"]
					})]>
					<div class="container">

						#SET{titre,#INFO_TITRE{#GET{menu/type_objet},#GET{menu/id_objet}}}
						#SET{chapo,#INFO_CHAPO{#GET{menu/type_objet},#GET{menu/id_objet}}}
						#SET{texte,#INFO_TEXTE{#GET{menu/type_objet},#GET{menu/id_objet}}}


						[(#GET{chapo}|?{

							[(#GET{chapo}|match{<h3}|?{
								[<header>(#GET{chapo}|replace{<h3,<h2}|replace{/h3>,/h2>})</header>]
								,
								[<header><h2>(#GET{titre})</h2></header>][<p>(#GET{chapo}|couper{250}|propre|ptobr)</p>]
							})]

							,
							[<header><h2>(#GET{titre})</h2></header>][(#GET{texte}|couper{250})]
						})]

						[(#REM) Pour le moment composition ne fonctionne que pour les articles]
						<BOUCLE_compo(CONDITION){si #COMPOSITION|!={''}}>
							[(#INCLURE{fond=inclure/article-#COMPOSITION,id_article,env,limit=6})]
						</BOUCLE_compo>

					</div>
					<footer>
						<a href="#GET{url}" class="button scrolly">[(#GET{titre}|couper{25,' (en savoir plus)'})]</a>
					</footer>

				</section>

	        </BOUCLE_entrees_sommaire>
	</BOUCLE_menu_sommaire>

<INCLURE{fond=inclure/contact}>
</div>
