<!-- Footer -->
<div id="footer">

	<!-- Copyright -->
		<ul class="copyright">
			<li>#NOM_SITE_SPIP. </li>
			<li>Basé sur <a href="http://html5up.net/prologue" class="spip_out">HTML5 UP Prologue</a></li>
			<BOUCLE_mentions(ARTICLES){page=mentionslegales}>
				<li><a href="#URL_ARTICLE">#TITRE</a></li>
			</BOUCLE_mentions>

		</ul>

</div>


<script src="#CHEMIN{javascript/browser.min.js}"></script>
<script src="#CHEMIN{javascript/breakpoints.min.js}"></script>

<script src="#CHEMIN{javascript/util.js}"></script>
<script src="#CHEMIN{javascript/jquery.scrolly.min.js}"></script>
<script src="#CHEMIN{javascript/jquery.scrollex.min.js}"></script>

<script src="#CHEMIN{javascript/main.js}"></script>
<script src="#CHEMIN{javascript/main.scrolly.js}"></script>


<script type="text/javascript">
	$('a.spip_out,a.spip_url,a.spip_documents').attr("target", "_blank");
</script>
