
<div class="formulaire_spip formulaire_ecrire_auteur ajax" id="formulaire_ecrire_auteur#ENV{id}">
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
[(#ENV{editable})
<form method="post" action="#ENV{action}#formulaire_ecrire_auteur#ENV{id}">
	#ACTION_FORMULAIRE
	[(#ENV*{erreurs}|table_valeur{previsu}|oui)
	<div class="row">
		<div class="col-12">
			<fieldset class="previsu">
				<legend><:previsualisation:></legend>
					<div><strong>#ENV{sujet_message_auteur}</strong> - <em>#ENV{email_message_auteur}</em></div>
					<div>[(#ENV{texte_message_auteur}|nl2br)]</div>
				<p class="boutons"><input type="submit" class="submit" name="confirmer" value="<:form_prop_confirmer_envoi:>" /></p>
			</fieldset>
		</div>
	</div>
	]
	<div class="row">

		<div class="col-6 col-12-mobile editer saisie_email_message_auteur obligatoire[ (#ENV*{erreurs}|table_valeur{email_message_auteur}|oui)erreur]">
			[<span class="erreur_message">(#ENV*{erreurs}|table_valeur{email_message_auteur})</span>]
			<input[ (#HTML5|?{required="required" type="email" class="text email",type="text" class="text"})] placeholder="[(#ENV{email_message_auteur}|sinon{<:entree_adresse_email:> <:info_obligatoire_02:>})]" name="email_message_auteur" id="email_message_auteur#ENV{id}" value="#ENV{email_message_auteur}" size="30" />
		</div>
		<div class="col-6 col-12-mobile editer saisie_sujet_message_auteur obligatoire[ (#ENV*{erreurs}|table_valeur{sujet_message_auteur}|oui)erreur]">
			[<span class="erreur_message">(#ENV*{erreurs}|table_valeur{sujet_message_auteur})</span>]
			<input type="text" placeholder="[(#ENV{sujet_message_auteur}|sinon{<:form_prop_sujet:> <:info_obligatoire_02:>})]" class="text" name="sujet_message_auteur" id="sujet_message_auteur#ENV{id}" value="#ENV{sujet_message_auteur}" size="30"[(#HTML5) required="required"] />
		</div>
		<div class="col-12 editer saisie_texte_message_auteur obligatoire[ (#ENV*{erreurs}|table_valeur{texte_message_auteur}|oui)erreur]">
			[<span class="erreur_message">(#ENV*{erreurs}|table_valeur{texte_message_auteur})</span>]
			<textarea name="texte_message_auteur" id="texte_message_auteur#ENV{id}" placeholder="[(#ENV{texte_message_auteur}|sinon{<:info_texte_message:> <:info_obligatoire_02:>})]"  rows="10" cols="60"[(#HTML5) required="required"]>#ENV{texte_message_auteur}</textarea>
		</div>
		[(#REM) Piege a robots spammeurs ]
		<p style="display: none;">
			<label for="nobot"><:antispam_champ_vide:></label>
			<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
		</p>
		<div class="col-12">
			<input type="submit" name="valide" value="<:form_prop_envoyer:>" />
		</div>
	</div>
</form>
]
</div>
