<div class='formulaire_spip formulaire_newsletter formulaire_[(#FORM)] ajax'>
	
	[<p class="reponse_formulaire reponse_formulaire_ok ph-1">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur ph-1">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method='post' action='#ENV{action}'>
		<div class="row mt-05 pv-0 mb-0">
			<div class="col-12 pv-0">
				#ACTION_FORMULAIRE{#ENV{action}}
				<ul class="editer-groupe col-12 pv-0 mv-0 ph-1">
					#SET{name,session_email}#SET{obli,'obligatoire'}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
					<li class=no-list "editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
						<label class="hide" for="#GET{name}"><:newsletter:label_email_subscribe:></label>[
						<span class='erreur_message'>(#GET{erreurs})</span>
						]<input type="email" name="#GET{name}" class="email text ph-1 pv-05 small" value="#ENV*{#GET{name}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
					</li>
					[(#ENV{_listes_choix}|oui)
					<INCLURE{fond=formulaires/inc-subscribing-options,env,label=<:newsletter:label_subscribe_lists:>} />
					]

				</ul>
				[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
				<!--extra-->
				[(#REM) S'il y a plusieurs choix possibles, on change le label ]
				[(#SET{bouton, #ENV{_listes_choix}|count|>{1}|et{#ENV{_checkable}}|?{<:newsletter:bouton_subscribe_multiples|attribut_html:>, <:html5up_prologue:bouton_subscribe|attribut_html:>}})]

			</div>
			<p class="boutons col-12 pv-0 mt-05 mb-0 ph-1"><input type="submit" class="submit small" value="#GET{bouton}" /></p>
		</div>
	</form>
	]
</div>
