		<BOUCLE_auteurs(AUTEURS){gis}{id_article ?}{id_auteur ?}{id_mot ?}{recherche ?}{0, #ENV{limit}}{","}>
		[(#SET{desc,
			<ul class="no-list">
				[<li>(#DESCRIPTIF_GIS|sinon{#BIO}|ptobr)</li>]
				[<li>(#ADRESSE)</li>]
				[<li>[(#CODE_POSTAL) - ](#VILLE)</li>]
			</ul>
		})]
		{"type": "Feature",
		["geometry": (#GEOMETRY|appliquer_filtre{wkt_to_json}|sinon{{"type": "Point", "coordinates": \[#LON, #LAT\]}}),]
		"id":"#ID_GIS",
		"properties": {
			"title":[(#TITRE_GIS*|sinon{#NOM*}|extraire_multi|supprimer_numero|json_encode)],
			"description":[(#GET{desc}|json_encode)][
			(#LOGO_GIS|gis_icon_properties)][,
			"styles": (#GEOMETRY_STYLES|appliquer_filtre{geometry_styles_to_json})]
		}}</BOUCLE_auteurs>
