<!-- Header -->
<div id="header">

	<div class="top">

		<!-- Logo -->
			<div id="logo">

				[(#SI_PAGE{sommaire}|?{
					[<span class="image avatar48">(#LOGO_SITE_SPIP)</span>]
					[<h1 id="title">(#NOM_SITE_SPIP)</h1>]
					,
					[<span class="image avatar48">
						<a href="#URL_SITE_SPIP">(#LOGO_SITE_SPIP)</a>
					</span>]
					[<h1 id="title"><a href="#URL_SITE_SPIP">(#NOM_SITE_SPIP)</a></h1>]

				})]

				[<p>(#SLOGAN_SITE_SPIP)</p>]
			</div>

			<!-- Nav -->
			<INCLURE{fond=inclure/nav,env,identifiant=#CONFIG{html5up/menus,CK}}/>

	</div>
	[(#FORMULAIRE_NEWSLETTER_SUBSCRIBE)]
	<div class="bottom">

		<!-- Social Icons -->
		<ul class="icons">
		<BOUCLE_session(DATA){source table,#CONFIG{sociaux}|unserialize}>
		[(#VALEUR|!={''}|oui)
			<li><a href="[(#CLE|=={mail}|?{mailto:#VALEUR,[(#VALEUR|url_absolue)]})]" class="icon fa-[(#CLE|=={mail}|?{at,#CLE})] spip_out"><span class="label">#CLE</span></a></li>
		]
		</BOUCLE_session>
		</ul>


	</div>

</div>
